# Ignore everything by default ...
*

# ... and explicitly declare what files are accessible to Docker. This makes it
# less likely for unnecessary files to become part of the build context.
!/e2e
!/public
!/server
!/src
!index.html
!package-lock.json
!package.json
!playwright.config.ts
!tsconfig.json